<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/board/BDeleteReg}" method="post">
  <input type="hidden" name="id" th:value="${param.id}" />
	<table border="">
		<tr>
			<td width="200px">암호</td>
			<td width="700px"><input type="text" name="pw" /></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
			   <input type="submit" value="삭제" />
			    <a th:href="@{/board/detail/{id}(id=${param.id})}">뒤로</a>
			</td>
		</tr>
	</table>
</form>
</body>
</html>