<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>stsMvcProj</title>
</head>
<body>
<h1>stsMvcProj 입니다.</h1>
<h2>request</h2>
<a href="request/attr1">attr1</a>
<a href="request/attr2">attr2</a>
<a href="request/attr3">attr3</a>
<a href="request/attr4?age=33&nick=zxcv&jum=56&jum=59&jum=52&gender=mm&mil=true">attr4</a>
<a href="request/attrForm">attrForm</a>
<br/>
<a href="request/order">order</a>
<a href="request/exam">exam</a>
<br/>
<a href="request/param1?id=aaa&age=45&marriage=true">param1</a>
<a href="request/param2?id=bbb&age=34&marriage=true">param2</a>
<a href="request/param1?id=ccc">param1</a>
<a href="request/param2?id=ddd">param2</a>
<a href="request/param3?id=eee&age=27&marriage=true">param3</a>
<a href="request/param3?id=fff&aaa=23&mrg=true">param3</a>
<a href="request/param3?id=ggg">param3</a>
<a href="request/param4?id=hhh&aaa=28&mrg=true">param4</a>
<a href="request/param4?id=iii">param4</a>
<a href="request/coffee">coffeeOrder</a>
<h2>redirect</h2>
<a href="red/from1">from1</a>
<a href="red/from1?id=aaa&age=44&marriage=true">from1</a>
<a href="red/from2">from2</a>
<a href="red/from3">from3</a>
<a href="red/from4?id=ddd&age=25&marriage=false">from4</a>
<a href="red/from5?id=eee&age=27&marriage=false">from5</a>
<a href="red/from6?id=fff&age=31&marriage=true">from6</a>
<h2>file</h2>
<a href="file/upload">upload</a>
<h2>cookie</h2>
<a href="cookie/make1">make1</a>
<a href="cookie/make2">make2</a>
<a href="cookie/view">view</a>
<a href="cookie/delete">delete</a>
<a href="cookie/loginMain">로그인메인</a>
<h2>thymeleaf</h2>
<a href="thymeleaf/calc">calc</a>
<a href="thymeleaf/control">control</a>
<a href="thymeleaf/lay">레이아웃</a>
<h2>session</h2>
<a href="session/make1">make1</a>
<a href="session/make2">make2</a>
<a href="session/view">view</a>
<a href="session/delete">delete</a>
<a href="session/loginMain">로그인메인</a>
<h2>model</h2>
<a href="model/mmm1?no=1">mmm1</a>
<a href="model/mmm1?no=2">mmm1</a>
<a href="model/mmm2?no=1">mmm2</a>
<a href="model/mmm2?no=2">mmm2</a>
<a href="model/season">season</a>
<h2>path</h2>
<a href="path/aaa">aaa</a>
<a href="path/tv/aaa">tv/aaa</a>
<a href="path/phone/bbb">phone/bbb</a>
<a href="path/notice/list/2">notice/list/2</a>
<a href="path/notice/detail/4">notice/detail/4</a>
<a href="path/notice/modify/5">notice/modify/5</a>
<a href="path/season/spring">season</a>
<h2>provider</h2>
<a href="provider/list">list</a>
<a href="provider/bat1">bat1</a>
<a href="provider/bat2">bat2</a>
<h2>form/form</h2>
<a href="form/form">form</a>
<a href="form/link">link</a>
<a href="form/validForm">val</a>
<h2>event/인터셉터</h2>
<a href="event/gogo">gogo</a>
<a href="admin/aaa">adminA</a>
<a href="admin/bbb">adminB</a>
<a href="admin/ccc">adminC</a>
<a href="admin/ddd">adminD</a>
</body>
</html>
