<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>board/deleteForm</title>
</head>
<body>
board/deleteForm
<form method="post"  th:object="${boardDTO}">
	<input type="hidden" th:value="*{id}" name="id"/>
	<input type="hidden" th:value="*{page}" name="page"/>
	<table border="">
		<tr>
			<td>암호</td>
			<td><input type="text" name="pw"/></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" value="삭제" />
				<a th:href="|/board/detail/${boardDTO.page}/${boardDTO.id}|" th:text="뒤로"/>
			</td>
		</tr>
	</table>
</form>
</body>
</html>