<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>board/modifyForm</title>
<script>
	function fileDelete(){
		frm.action = "/board/fileDelete"
		frm.submit()
	}
	
</script>
</head>
<body>
<h1>board/modifyForm</h1>
<form name="frm" method="post" enctype="multipart/form-data" th:object="${dto}">
	<input type="hidden" th:field="*{id}" />
	<input type="hidden" th:field="*{page}" />
	<table border="">
		<tr>
			<td>제목</td>
			<td><input type="text" th:field="*{title}" /></td>
		</tr>
		<tr>
			<td>작성자</td>
			<td><input type="text" th:field="*{pname}"/></td>
		</tr>
		<tr>
			<td>암호</td>
			<td><input type="text" name="pw" /></td>
		</tr>
		<tr>
			<td>파일</td>
			<td>
				<input th:if="${dto.upfile != null}" type="button" 
				onclick="fileDelete()" th:value="|*{upfile} 파일삭제|"/>
				<input th:if="${dto.upfile == null}" type="file" th:field="*{mmff}"/>
			</td>
		</tr>
		<tr>
			<td>내용</td>
			<td><textarea th:field="*{content}" /></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" value="수정" />
				<a th:href="|/board/detail/${dto.page}/${dto.id}|" th:text="뒤로"/>
			</td>
		</tr>
	</table>
</form>

</body>
</html>