<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>board/list</title>
</head>
<body>
<h1>board/list</h1>


	<table border="">
		<tr>
			<td>번호</td>
			<td>제목</td>
			<td>작성자</td>
			<td>등록일</td>
			<td>조회수</td>
		</tr>
		<tr th:each="dto, dtoStat : ${mainData}">
			<td th:text="${dtoStat.count + boardDTO.start}"/>
			<td >
				<a th:href="|/board/detail/${boardDTO.page}/${dto.id}|" th:text="${dto.title}"></a>
			</td>
			<td th:text="${dto.pname}"/>
			<td th:text="${dto.regDate}"/>
			<td th:text="${dto.cnt}"/>
		</tr>
		<tr>
			<td colspan="5" align="center">
				
		<a th:if="${boardDTO.pageStart > 1}" th:href="${boardDTO.pageStart - 1}" th:text="'[이전]'"/>		
				
		<th:block th:each="no: ${#numbers.sequence(boardDTO.pageStart, boardDTO.pageEnd)}" >
			
			<span th:if="${no==boardDTO.page}" th:text="${no}"/>
			<a th:unless="${no==boardDTO.page}" th:href="${no}" th:text="${no}"/>
		</th:block>
		<a th:if="${boardDTO.pageEnd < boardDTO.pageTotal}" th:href="${boardDTO.pageEnd + 1}" th:text="'[다음]'"/>
			</td>
		</tr>
		<tr>
			<td colspan="5" align="right">
				<a th:href="|/board/insert/${boardDTO.page}|">글쓰기</a>
			</td>
		</tr>
	</table>
</body>
</html>