<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>stsMvcProj</title>
	
</head>

<body>
<h2>stsMvcProj</h2>
<a href="request/attr1">attr1</a>
<a href="request/attr2">attr2</a>
<a href="request/attr3">attr3</a>
<a href="request/attr4?age=33&nick=zxcv&jum=56&jum=59&jum=52">attr4</a>
<a href="request/attForm">attForm</a>
<a href="request/order">order</a>	
<hr />
<h2>중간 문제 풀이</h2>
<a href="seung/userform">가즈아</a> 
<a href="seung/coffeEx">커피 가격 구하기(파라미터)</a>
<a href="seung/randomForm">학생랜덤</a>
<a href="seung/ModelStu">모델세션학생</a>
<a href="seung/thylala">모델세션인클루드로변경</a>
<a href="seung/pathVal/spring">페스베리어블로 변경</a>
<hr />
<h2>param 예제</h2>
<a href="request/param1?id=aaa&age=45&marriage=true">param1</a>
<a href="request/param2?id=bbb&age=34&marriage=true">param2</a>
<a href="request/param1?id=ccc">param1</a>
<a href="request/param2?id=ddd">param2</a>
<a href="request/param3?id=eee&age=27&marriage=true">param3</a>
<a href="request/param3?id=fff&aaa=23&mrg=true">param3</a>
<a href="request/param3?id=ggg">param3</a>
<a href="request/param4?id=hhh&aaa=28&mrg=true">param4</a>
<a href="request/param4?id=iii">param4</a>
<a href="request/coffee">coffeeOrder</a>
<a href="request/exam">강사님 예시폼</a>
<h2>redirect</h2>
<a href="red/from1">from1</a>
<a href="red/from1?id=aaa&age=44&marriage=true">from1</a>
<a href="red/from2?id=bbb&age=44&marriage=true">from2</a>
<a href="red/from3?id=bbb&age=44&marriage=true">from3</a>
<a href="red/from4?id=bbb&age=44&marriage=true">from4</a>
<a href="red/from5?id=eee&age=26&marriage=false">from5</a>
<a href="red/from6?id=fff&age=31&marriage=true">from6</a>
<hr />
<h2>file</h2>
<a href="file/upload">upload</a>
<h2>cookie</h2>
<a href="cookie/make1">쿠키생성1</a>
<a href="cookie/make2">쿠키생성2</a>
<a href="cookie/view">쿠키보기</a>
<a href="cookie/delete">쿠키삭제</a>
<a href="cookie/loginMain">로그인메인</a>
<a href="cookie/ex_make">쿠키 연습 만들기</a>
<a href="cookie/ex_view">쿠키 연습 보기</a>
<a href="cookie/ex_delete">쿠키 연습 삭제</a>

<h2>thymeleaf</h2>
<a href="thymeleaf/calc">타임리프 산술연산</a>
<a href="thymeleaf/controll">타임리프 제어문</a>
<a href="thymeleaf/lay">타임리프 레이아웃</a>
<br/>
<h2>session</h2>
<a href="session/make1">make1</a>
<a href="session/make2">make2</a>
<a href="session/view">view</a>
<a href="session/delete">delete</a>
<a href="session/loginMain">로그인메인</a>
<a href="session/ex_session_main">세션메인연습</a>
<h2>@ModelAttribute</h2>
<a href="model/mm1?no=1">mm1</a>
<a href="model/mm1?no=2">mm1</a>
<a href="model/mm1?no=3">mm1</a>
<a href="model/mm1?no=4">mm1</a>
<a href="model/mm2?no=1">mm2</a>
<a href="model/mm2?no=2">mm2</a>
<a href="model/season">season</a>

<h2>@PathVariable</h2>
<a href="path/aaa">aaa</a>
<a href="path/tv/aaa">tv/aaa</a>
<a href="path/phone/bbb">phone/bbb</a>
<a href="path/notice/list/3">notice/list/3</a>
<a href="path/notice/detail/4">notice/detail/4</a>
<a href="path/notice/modify/4">notice/modify/4</a>

<h2>@Provider</h2>
<a href="provider/list">provider</a>
<a href="provider/bat1">bat1</a>
<a href="provider/bat2">bat2</a>
<a href="form/from">form</a>
<a href="form/link">link</a>
</body>

</html>