<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>board/detail</title>
</head>
<body>
<h1>board/detail</h1>


	<table border="">
		<tr>
			<td>id</td><td th:text="${dto.id}"/>
		</tr>
		<tr>
			<td>제목</td><td th:text="${dto.title}"/>
		</tr>
		<tr>
			<td>작성자</td><td th:text="${dto.pname}"/>
		</tr>
		<tr>
			<td>등록일</td><td th:text="${dto.regDate}"/>
		</tr>
		<tr>
			<td>조회수</td><td th:text="${dto.cnt}"/>
		</tr>
		<tr th:if="${dto.upfile != '' && dto.upfile != null}" >
			<td >파일</td>
			<td >
				<img th:src="@{|/bup/${dto.upfile}|}" alt="{dto.upfile}" style="display: block;"/>
				<a th:href="@{|/board/bup/download/${dto.upfile}|}" th:text="${dto.upfile}"></a>
				
			</td>
		
		</tr>	
		<tr>
			<td>내용</td>
			<td> <textarea th:text="${dto.content}" id="" cols="30" rows="10"></textarea> </td>
		
		</tr>
		<tr>
			<td colspan="2" align="right">
				<a th:href="|/board/reply/${dto.id}|">답변</a>
				<a th:href="|/board/modify/${dto.id}|">수정</a>
				<a th:href="|/board/delete/${dto.id}|">삭제</a>
				<a th:href="|/board/list?page=${pageData.page}|">목록</a>
			</td>
		</tr>
	</table>
			[[${dto.upfile}]]
</body>
</html>