<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>board/list</title>
</head>
<body>
<h1>board/list</h1>


	<table border="">
		<tr>
			<td>번호</td>
			<td>제목</td>
			<td>작성자</td>
			<td>등록일</td>
			<td>조회수</td>
		</tr>
		<tr th:each="dto, dtoStat  : ${mainData}">
			<td th:text="${dtoStat.count + pageData.start }"/>
			<td >
				<a th:href="|detail/${dto.id}|" th:text="${dto.title}"></a>
			</td>
			<td th:text="${dto.pname}"/>
			<td th:text="${dto.regDate}"/>
			<td th:text="${dto.cnt}"/>
		</tr>
		
		<tr>
			<td colspan="5" align="center">
				<!--
				<th:block th:each="page:${pageData}">
					[[${page}]]
					
				</th:block>
				-->
				<a th:if="${pageData.pageStart > 1}" th:href="|?page=1|">[처음]</a>
				<a th:if="${pageData.pageStart > 1}" th:href="@{|?page=${pageData.pageStart - 1}}|">[이전]</a>
				
				<th:blcok th:each="page : ${#numbers.sequence(pageData.pageStart, pageData.pageEnd)} ">				
					<a th:href="@{|?page=${page}|}" th:text="${page}"></a>
				</th:blcok>
				
				<a th:if="${pageData.pageTotal ne pageData.pageEnd}" th:href="@{|?page=${pageData.pageEnd + 1}}|">[다음]</a>
				<a th:if="${pageData.pageTotal ne pageData.pageEnd}" th:href="@{|?page=${pageData.pageTotal}}|">[맨끝]</a>
	
			</td>
		</tr>
		
		<tr>
			<td colspan="5" align="right">
				<a href="insert">글쓰기</a>
			</td>
		</tr>
	</table>
</body>
</html>